.item-view {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  width: 90%;
  margin: 0 auto;
  grid-template-areas: 
    "grid-image grid-image"
    "grid-details grid-details"
    "grid-description grid-description"
  ;
  &__product-display {
    grid-area: grid-image;
  }
  &__image {
    width: 100%;
  }
  &__cart-details {
    padding: 35px;
    grid-area: grid-details;
  }
  &__product-name {
    font-weight: 300;
    margin-bottom: 15px;
  }
  &__product-price {
    font-weight: 200;
    color: #384046 !important;
  }
  &__product-id {
    display: inline-block;
    padding: 8px 16px !important;
  }
  &__form-group {
    display: grid;
    // width: 250px;
    width: 100%;
    grid-template-columns: 1fr 120px;
  }
  &__input {
    width: 100% !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: none !important;
  }
  &__form-button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none !important;
    font-size: 3vw;
  }
  &__product-details {
    padding: 15px 15px 30px 15px;
    grid-area: grid-description
  }
  &__product-heading {

  }
  &__product-description {
    margin-bottom: 30px;
  }
  &__delete-button {

  }
}

hr {
  margin: 0 !important;
}

@media only screen and (min-width: 450px) {
  &__form-button {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 760px) {
  .item-view {
    grid-template-columns: 30% 1fr;
    width: 100%;
    grid-template-areas: 
    "grid-image grid-details"
    "grid-description grid-description"
    ;
    &__product-id {
      margin-bottom: 20px !important;
    }
    &__cart-details {
      border-left: 1px solid rgba(95, 95, 95, 0.246);
    }
    &__form-group {
      width: 250px;
    }
    &__product-details {
      padding: 35px;
      grid-area: grid-description;
      border-top: 1px solid rgba(95, 95, 95, 0.246);
    }
  }
}

@media only screen and (min-width: 950px) {
  .item-view {
  grid-template-columns: 450px 1fr !important;
  }
}