.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0px;
  row-gap: 80px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
}

@media only screen and (min-width: 950px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}